<h1>Edit <%= @product.name %></h1>
<%= form_for(@product) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.submit "Update" %>
  </div>
<% end %>